<ion-header>
  <ion-toolbar>
    <ion-title text-center><b>Terms And Conditions</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <!--<ion-row>
      <ion-col text-center>
        <b>Rules And Regulations </b>

      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col>
        <div class="rules">
          <br/>
          1. You are allowed to use google maps and also allowed to call your friends and Family.<br/>
          2. You can only call event organizer only after half hour of start of event. <br/>
          3. Please drive carefully. Car driver and passenger on front seat should always wear seat belts.<br/>
          &nbsp; &nbsp; Please do remember your life is much more precious than this event. <br/>
          4. Driver should have driving License, PUC certificate and Insurance. Teams will be only be allowed <br/>
          &nbsp; &nbsp; to participate if they have all these documents <br/>
          5. No Honking please. Points will be Deducted if found violating traffic rules and honking. <br/>
          6. Teams will be judged by our chief guests. <br/>
          7. Speed limit is defined for this event. If you cross speed limit You will be automatically disqualified.<br/>
          8. Please remember this is a game designed for your entertainment and so maintain professionalism and team spirit.<br/>

        </div>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col text-center>
        <b> Rules And Regulations</b>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">OK</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
