<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Snap Hunt <br/> Events List</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items"  padding>
  <div *ngIf="items.length > 0" >
    <fieldset>
      <legend><b>Events To Participate</b></legend>
    <ion-grid *ngFor="let item of items" text-wrap >
      <div class="list-mini-content">
      <ion-row>
        <ion-col col-12>
          <b>{{item.payload.doc.data().name}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-thumbnail>
            <img [src]="item.payload.doc.data().image">
          </ion-thumbnail>
        </ion-col>
        <ion-col size="6">
              {{item.payload.doc.data().description}}
        </ion-col>
          <ion-col size="4">
            <ion-button round [disabled]=!item.payload.doc.data().active fill="outline" (click)="startOrContinue(item)">{{item.eventActivated  ? "Continue" : "Start"}}</ion-button>
        </ion-col>
      </ion-row>
      </div>
      <ion-row><ion-col></ion-col></ion-row>
      <ion-row></ion-row>
    </ion-grid>
    </fieldset>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    No Events available yet.
  </div>
  <br/>
  <br/>
  <fieldset>
    <legend>
      Events Hosted By you
    </legend>
     You dont have any Event hosted. <a href="

    mailto:appcreatorpune@gmail.com

    ?subject=new+Event

    &body=I+want+to+host+an+event

    ">Start a new Event!!!</a>

  </fieldset>
  <br/>
  <br/>
  <!--<div class="rules">
    <b>Rules And Regulations </b>
    <br/>
    1. You are allowed to use google maps and also allowed to call your friends and Family.<br/>
    2. You can only call event organizer only after half hour of start of event. <br/>
    3. Please drive carefully. Car driver and passenger on front seat should always wear seat belts.<br/>
    &nbsp; &nbsp; Please do remember your life is much more precious than this event. <br/>
    4. Driver should have driving License, PUC certificate and Insurance. Teams will be only be allowed <br/>
    &nbsp; &nbsp; to participate if they have all these documents <br/>
    5. No Honking please. Points will be Deducted if found violating traffic rules and honking. <br/>
    6. Teams will be judged by our chief guests. <br/>
    7. Please remember this is a game designed for your entertainment and so maintain professionalism and team spirit.<br/>

  </div>-->
  <div *ngIf="errorMessage">
  {{errorMessage}}
  </div>
</ion-content>
<ion-footer>
<img src="./assets/imgs/sp_image.png">
</ion-footer>
