<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button >
        <!--<ion-icon slot="icon-only" name="add"></ion-icon>-->
        <ion-button fill="outline" slot="end" (click)="exportPdf()">Export</ion-button>

        <ion-button fill="outline" slot="end" (click)="finish()">Finish</ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title>MPF Carnaama <br/> {{item[0].eventName}} &nbsp; Started at {{item[0].startedAt | date:'medium' }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="item" >
  <div class="printable-area" id ="printable-area">
  <ion-card *ngFor="let clue of item[0].clues" color="light">
    <ion-item>
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label>{{clue.name}}</ion-label>
      <ion-button fill="outline" slot="end" [disabled]="clue.imageUploaded" (click)="selectImage(clue)">Upload Image</ion-button>
    </ion-item>

    <ion-card-content>
      {{clue.description}}
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
